<?xml version="1.0"?>
<robot name="keigan_motor" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_camera)/urdf/_r430.urdf.xacro"/>

  <material name="Grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <link name="base_link"/>

  <link name="base_footprint"/>
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.006" rpy="0 0 0" />        
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  <sensor_r430 parent="base_link">
    <origin xyz="0.042 0 0.363" rpy="0 0 0"/>
  </sensor_r430>

  <link name="laser"/>
  <joint name="laser_joint" type="fixed">
    <origin xyz="-0.013 0 0.3938" rpy="0 0 ${M_PI}" />
    <parent link="base_link" />
    <child link="laser" />
  </joint>
</robot>
